<h1 style="font-family: Wide Latin, sans-serif; font-size: 40px; font-weight: bold; float: left;">Sprint 0</h1> 

<img src="https://itacademy.barcelonactiva.cat/pluginfile.php/1/theme_remui/logo/1724822700/logo.png" alt="Logo Derecha" style="width: 10%; float: right;">

<div style="clear: both;"></div>

- **Autor**: Jordi Bosch Alibau
- **Curs**: Upskilling en Machine Learning
- **Sprint**: Sprint 0: Instal·lació i configuració de l´entorn de treball per a ML

#### **Exemple 1: Operaciones y Variables**

In [4]:
print("1 + 1 = ", 1 + 1); print("2 * 2 = ", 2 * 2); print("8 / 4 = ", 8 / 4); print("7 ** 2 = ", 7 ** 2); print("")
r = 7 + 3; print("r = 7 + 3 = ", r); r2 = r+5; print("r2 = r + 5 = ", r2); print("")
a = "ABC"; b=123; c= True; print({a:type(a), b:type(b), c:type(c)})

1 + 1 =  2
2 * 2 =  4
8 / 4 =  2.0
7 ** 2 =  49

r = 7 + 3 =  10
r2 = r + 5 =  15

{'ABC': <class 'str'>, 123: <class 'int'>, True: <class 'bool'>}

#### **Exemple 2: Librería Pandas**

In [6]:
import pandas as pd
src = "https://analisi.transparenciacatalunya.cat/resource/ybgg-dgi6.csv?$limit=10&$offset=1&$where=1=1&$order=data_publicacio_anunci%20DESC"
src = "World Happiness Report 2024.csv"
data = pd.read_csv(src)
filtered_data = data.loc[data['Country name'] == 'Spain'].sort_values(by='year', ascending=False)
filtered_data.head()

,Country name,year,Life Ladder,Log GDP per capita,Social support,Healthy life expectancy at birth,Freedom to make life choices,Generosity,Perceptions of corruption,Positive affect,Negative affect
1947,Spain,2023,6.456033,10.608960,0.912135,72.599998,0.778683,-0.003900,0.674821,0.654594,0.325137
1946,Spain,2022,6.336902,10.592478,0.933900,72.474998,0.781409,-0.001004,0.673112,0.635929,0.319962
1945,Spain,2021,6.469611,10.543589,0.926417,72.349998,0.781795,-0.076045,0.729347,0.639075,0.323980
1944,Spain,2020,6.502175,10.490920,0.934935,72.224998,0.783257,-0.126773,0.729977,0.671131,0.316617
1943,Spain,2019,6.457449,10.616002,0.949013,72.099998,0.777967,-0.054457,0.730338,0.636200,0.315518